{{!-- Site footer --}}
<footer class="site-footer">
    <div class="wrapper">
        <p>Built with Gulp, JS, SCSS, Handlebars and &hearts;<br>
        Code licensed under MIT.</p>
    </div>
</footer>
