// ****************************************
// header
// ****************************************
$footer-bg: #555;

.page-footer{
    padding: 10px 0;
    background-color: $brand__light-gray;
    text-align: center;
    border-top: 1px solid $border-color;
}
