// ****************************************
// variables
// ****************************************

// Base Font
$base__font-family       : "Source Sans Pro", Helvetica, Arial, sans-serif;
$base__font-size         : 10;
$base__line-height       : 1.4;
$base__text-color        : #333;

// color swatches
$base__black             : #000;
$base__white             : #fff;

// Brand
$brand__cyan             : #03a9f4;
$brand__light-gray       : #f9f9f9;

$border-color            : #ddd;
$active-state-color      : ;
$error-color             : ;

// link colors
$link                    : ;
$visited                 : ;
$hover                   : ;
$active                  : ;

// Font sizes
$body-copy               : 1.3rem;
$h1                      : 3.2rem;
$h2                      : 2.6rem;
$h3                      : 2rem;
$h4                      : 1.6rem;
$h5                      : $body-copy;

// Font weights
$font-weight__light      : 300;
$font-weight__regular    : 400;
$font-weight__semi-bold  : 600;
$font-weight__bold       : 700;

// animations
$transition__default     : cubic-bezier(0.77, 0, 0.175, 1);
$transition__all-ease    : 0.3s ease 0s;

$border-radius__width   : 3px;
