<div class="app-logo">
    <a href="index.html" class="app-logo__link">
        <img src="{{assets}}/img/app-logo.png" class="app-logo__img" alt="logo" />
        <span class="app-logo__text">baseUI</span>
    </a>
</div>
