---
layout: default
title: "Home Page"
description: "Page Description"
keywords: "Page Keywords"
pageclass: page-home
category: 'Category Title'
---
<section class="page-body">
    <div class="wrap">
        <h1>Home Page</h1>
    </div>
</section>
